*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: rgb(170, 169, 181);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
    margin-top: 50px;
   

}

.input-container{
    width: 100%;
    max-width: 500px;
    text-align: center;
    padding: 20px;
}
.input-container input{
    
    border: none;
    outline: none;
    padding: 12px;
    margin-block: 12px;
    border-radius: 4px;
    font-size: 16px;

}

.input-container input[type="text"]{

    width: 80;
    
}
.input-container input[type="button"]{
    background-color: #14e717;
    font-weight: 700;
    margin-left: 8px;
    cursor: pointer;
    padding: 12px 24px;
    border-radius: 7px;
}

ul{
    width: 70px;
    max-width: 450px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
} 

ul li{
    list-style-type: none;
    width: 400px;
    cursor: pointer;
    margin-block-end:12px;
    border-radius: 7px;
    border: 0.250px solid #797f76;
    padding: 6px 12px;
    background-color: antiquewhite;
    /* text-align: center; */
    display: flex;
    align-items: center; 
    justify-content: space-between;
}



ul li p{
    flex-grow: 1;
    padding: 2px;
}

/*Accessing Javascript css content*/

.btn1{
    border: none;
    outline: none; 
    font-size: 16px;
    background-color: none;
    font-weight: 600;
    cursor: pointer;
    background: none;
    padding: 8px;
}

.deletebtn{
    color: hsl(0, 100%, 50%,0.8);
}

.editbtn{
    color:black;
}
